.wrapper {
    width: 350px;
    height: 320px;
    border-radius: 2px;
    padding: 11px;
    box-shadow: 1px 4px 8px 0 rgba(34, 60, 80, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cityBlock {
    display: flex;
    justify-content: space-between;
}

.cityWrapper {
    text-align: start;
}

.rechartsContainer {
    height: 150px !important;
}

.area g g path {
    box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.75)
}

.cityWrapper span {
    font-weight: 500;
}

.descriptionWrapper {
    display: flex;
    align-items: center;
}

.description {
    opacity: 0.3;
}

.icon {
    align-self: start;
}

.iconClose {
    width: 10px;
    height: 10px;
    cursor: pointer;
    align-self: end;
}

.temperatureBlock {
    display: flex;
    justify-content: space-between;
    text-align: end;
}

.tempWrapper {
    display: flex;
}

.temp {
    font-size: 32px;
}

.degrees {
    font-size: 20px;
    font-weight: lighter;
}

.degrees button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.feelsLike {
    opacity: 0.3;
    font-size: 14px;
    text-align: start;
}

.selectButton {
    font-weight: 900;
    font-size: 25px;
}

.information {
    font-weight: 500;
}

.item {
    color: orangered;
}

.chart g line {
    stroke: none;
}

.chart line {
    stroke: none;
}
