.wrapper {
    display: flex;
    flex-direction: column;
}

.select {
    align-self: end;
}

.citiesWrapper {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, minmax(min-content, max-content))
}